body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(https://i.ibb.co/6N8mWvD/mark-eder-R9-OS29x-Jb-8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: rgb(81, 48, 0);
}

div {
  max-width: 500px;
  height: fit-content;
  background-color: rgba(255, 238, 224, 0.628);
  border-radius: 1rem;
  padding: 4rem;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 3rem;
  text-align: center;
  line-height: 120%;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  /* Estilos para pantallas con ancho menor o igual a 480px */
  body {
    padding: 1rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }
}
